DB_HOST=localhost
DB_PORT=3307
DB_NAME=exam_db
DB_USERNAME=exam_user
DB_PASSWORD=exam_secure_password_2026
DB_URL=jdbc:mysql://localhost:3307/exam_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC